#heading{
    width: 500px;
    position: absolute;
    top: 0px;
    left : 50%;
    margin-left: -170px;
}
#svg{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -450px;
}
#autor{
    width: 220px;
    position: absolute;
    top: 585px;
    left: 50%;
    margin-left: 265px;
}
#divAll{
    width: 200px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -660px;
}
.element{
    margin-bottom: 10px;
}

